
.col-md-12 {
    height: 100%;
    margin: 0.3% 0px 0.3% 0;
    padding: 1% 1% 1% 1%;
}

.row {
    margin: 0 0 0 0;
}

.title {
    padding: 5px 0 0 10px;
    height: 15%;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

.col-sm-4 {
    padding: 15px 15px 15px 15px;
}