  <div class="row" style="height:33%" *ngFor="let row of groupCategoryOption; let i =index">
    <div class="col-sm-4" *ngFor="let client of groupCategoryOption[i].data; let j =index">
        <a href = "#" 
          data-toggle="tooltip" 
          title="{{client.descriptionz}}" 
          id='category-{{client.iter}}' 
          class="border rounded" 
          style="padding:7px 12px 7px 12px;" 
          onclick="return false"
          (mouseenter) ="mouseEnter('category-'+client.iter)"  
          (mouseleave) ="mouseLeave('category-'+client.iter)"
          (click)="categoryClick(client)">
        {{client.iter}}
        </a>
    </div>
  </div>                
