<div class="container-fluid" (window:keydown)="onKey($event)">
  <div class="row" style="height:70%">
    <div class="col-md-9">
      <div class="box">
        <div class="title">
          TOTAL MENTION by Article
        </div>
        <div class="row" style="height:85%;" *ngIf="loaded">
          <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions" 
            [colors]="lineChartColors"
            [legend]="lineChartLegend" 
            [chartType]="lineChartType"             
            (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-md-3 aside">
      <div class="row h-50">
        <div class="col-md-12">
          <div class="box">
            <div class="title">
              MEDIA TYPE
            </div>
            <div class="row" style="height:85%; padding: 15px 0 0 15px;" *ngIf="destroy">
              <app-MediaModule></app-MediaModule>
            </div>
          </div>
        </div>
      </div>
      <div class="row h-50">
        <div class="col-md-12">
          <div class="box">
            <div class="title">
              CATEGORY / ISSUE
            </div>
            <div class="row" style="height:85%;">
              <div class="col-md-12" style="text-align: center;">
                <app-CategoryModule></app-CategoryModule> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="height:30%">
    <div class="col-md-9 time-fames">
      <div class="box">
        <div class="title">
          TIME FRAME
        </div>
        <div class="row time-frame">
          <!-- <div class="col-md-12"> -->
            <div class="col-md-1"></div>
            <div class="col-md-2" style="text-align: center;" id='time-frame-1' (mouseenter) ="mouseEnter('time-frame-1')"  (mouseleave) ="mouseLeave('time-frame-1')">
              <a href="#" onclick="return false" (click)="timeClick(1)"><img src="assets/img/icon/timeframes@225x245/calendar-1-white.png" alt="" style="height:80%;padding: 15px 0 0 0"></a>  
            </div>
            <div class="col-md-2" style="text-align: center;" id='time-frame-2' (mouseenter) ="mouseEnter('time-frame-2')"  (mouseleave) ="mouseLeave('time-frame-2')">
              <a href="#" onclick="return false" (click)="timeClick(2)"><img src="assets/img/icon/timeframes@225x245/calendar-7-white.png" alt="" style="height:80%;padding: 15px 0 0 0"></a>
            </div>
            <div class="col-md-2" style="text-align: center;" id='time-frame-3' (mouseenter) ="mouseEnter('time-frame-3')"  (mouseleave) ="mouseLeave('time-frame-3')">
              <a href="#" onclick="return false" (click)="timeClick(3)"><img src="assets/img/icon/timeframes@225x245/calendar-31-white.png" alt="" style="height:80%;padding: 15px 0 0 0"></a>
            </div>
            <div class="col-md-2" style="text-align: center;" id='time-frame-4' (mouseenter) ="mouseEnter('time-frame-4')"  (mouseleave) ="mouseLeave('time-frame-4')">
              <a href="#" onclick="return false" (click)="timeClick(4)"><img src="assets/img/icon/timeframes@225x245/calendar-365-white.png" alt="" style="height:80%;padding: 15px 0 0 0"></a>
            </div>
            <div class="col-md-2" style="text-align: center;" id='time-frame-5' (mouseenter) ="mouseEnter('time-frame-5')"  (mouseleave) ="mouseLeave('time-frame-5')">
              <a href="#" onclick="return false" (click)="timeClick(5)"><img src="assets/img/icon/timeframes@225x245/history-white.png" alt="" style="height:80%;padding: 15px 0 0 0"></a>
            </div>
            <div class="col-md-1"></div>            
          <!-- </div> -->
        </div>
      </div>
    </div>
    <div class="col-md-3 footer">
      <div class="box" style="text-align:center">
        <div style="height:25%">
          <b>INTEGRATED MEDIA INTELLIGENCE DASHBOARD</b>
        </div>
        <div style="height:55%">
          <img src="{{logo}}"
            style="width:90%;padding: 15px 0 0 0">
        </div>
        <!-- <div style="height:10%">
          Powered By
        </div>
        <div style="height:30%">
          <img src="assets/img/logo/pi.png" style="height:100%;padding: 10px 0 0 10px">
        </div> -->
      </div>
    </div>
  </div>
</div>

<app-TimePickerModule #timePickerContainer></app-TimePickerModule> 
<app-ArticlesModule #articlesContainer></app-ArticlesModule>