<div class="container-fluid" (window:keydown)="onKey($event)">
  <div class="row" style="height:70%">
    <div class="col-md-6">
      <div class="box" style="height: 95vh;">
        <div class="title">
          NEWS CLIP
        </div>
        <div class="row" style="height:42%;padding-left: 2%;">
          <ng-scrollbar>
            <table class="table-sm">
              <tbody>
                <tr *ngFor="let article of listtv">
                  <td class='td-row' style="width:150px">
                    {{article.datee | date: 'dd-MM-yyyy'}}
                  </td>
                  <td class='td-row'>
                    <a href="#" onclick="return false" (click)="clipHandler(article)">
                      {{article.title }}
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-scrollbar>
        </div>
        <!-- ============== -->
        <div class="title" >
          NEWS ARTICLE
        </div>
        <div class="row" style="height:42%;padding-left: 2%;">
          <ng-scrollbar>
            <table class="table-sm">
              <tbody>
                <tr *ngFor="let article of listpdf">
                  <td class='td-row' style="width:150px">
                    {{article.datee | date: 'dd-MM-yyyy'}}
                  </td>
                  <td class='td-row'>
                    <a href="#" onclick="return false" (click)="clipHandler(article)">
                      {{article.title }}
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-scrollbar>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box">
        <div class="title">
          CLIP PREVIEW
        </div>
        <div class="row" style="height:90%;">
          <!-- <ng-scrollbar> -->
            <div class="col-md-12" style="text-align:center;height: 100%;width: 100%; ">
              <video *ngIf="mediaExtensionModel=='mp4'" class="v-player" [src]="urlFileModel" #videoPlayer controls autoplay>
                Your browser does not support HTML5 video.
              </video>
              <!-- <pdf-viewer src="{{urlFileModel}}" [render-text]="true" [fit-to-page]="true"
                style="display: block; height: 100px;" *ngIf="mediaExtensionModel=='pdf'">
              </pdf-viewer> -->
              <!-- <iframe src="https://docs.google.com/gview?url=http://pdf.antara-insight.id/pdf_images/2020/03/12/2020-03-12-004-0002-006-04-9070-00.pdf&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe> -->
              <iframe *ngIf="mediaExtensionModel=='pdf'" [src]="innerHtml" frameborder="0" height="100%" width="100%"></iframe>
            </div>
            
          <!-- </ng-scrollbar> -->
        </div>
        
      </div>
      <!-- ============ -->
      <div class="box mt-5" style="height: 36%;">
        <div class="title">
          TIME FRAME
        </div>
        <div class="row time-frame">
          <!-- <div class="col-md-12"> -->
          <div class="col-md-1 tf-content"></div>
          <div class="col-md-2 tf-content" style="text-align: center;" id='time-frame-1'
            (mouseenter)="mouseEnter('time-frame-1')" (mouseleave)="mouseLeave('time-frame-1')">
            <a href="#" onclick="return false" (click)="timeClick(1)"><img
                src="assets/img/icon/timeframes@225x245/calendar-1-white.png" alt=""
                style="height:60%;padding: 15px 0 0 0"></a>
          </div>
          <div class="col-md-2 tf-content" style="text-align: center;" id='time-frame-2'
            (mouseenter)="mouseEnter('time-frame-2')" (mouseleave)="mouseLeave('time-frame-2')">
            <a href="#" onclick="return false" (click)="timeClick(2)"><img
                src="assets/img/icon/timeframes@225x245/calendar-7-white.png" alt=""
                style="height:60%;padding: 15px 0 0 0"></a>
          </div>
          <div class="col-md-2 tf-content" style="text-align: center;" id='time-frame-3'
            (mouseenter)="mouseEnter('time-frame-3')" (mouseleave)="mouseLeave('time-frame-3')">
            <a href="#" onclick="return false" (click)="timeClick(3)"><img
                src="assets/img/icon/timeframes@225x245/calendar-31-white.png" alt=""
                style="height:60%;padding: 15px 0 0 0"></a>
          </div>
          <div class="col-md-2 tf-content" style="text-align: center;" id='time-frame-4'
            (mouseenter)="mouseEnter('time-frame-4')" (mouseleave)="mouseLeave('time-frame-4')">
            <a href="#" onclick="return false" (click)="timeClick(4)"><img
                src="assets/img/icon/timeframes@225x245/calendar-365-white.png" alt=""
                style="height:60%;padding: 15px 0 0 0"></a>
          </div>
          <div class="col-md-2 tf-content" style="text-align: center;" id='time-frame-5'
            (mouseenter)="mouseEnter('time-frame-5')" (mouseleave)="mouseLeave('time-frame-5')">
            <a href="#" onclick="return false" (click)="timeClick(5)"><img
                src="assets/img/icon/timeframes@225x245/history-white.png" alt=""
                style="height:60%;padding: 15px 0 0 0"></a>
          </div>
          <div class="col-md-1 tf-content"></div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="height:40%">
    <!-- <div class="col-md-6">
      <div class="box">
        <div class="title">
          MEDIA TYPE
        </div>
        <div class="row" style="height:85%; padding: 15px 0 0 15px;">
          <app-MediaModule></app-MediaModule>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-md-3">
      <div class="box">
        <div class="title">
          CATEGORY / ISSUE
        </div>
        <div class="row" style="height:85%;">
          <div class="col-md-12" style="text-align: center;">
            <app-CategoryModule></app-CategoryModule> 
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-md-6">

    </div>
  </div>
</div>

<app-TimePickerModule #timePickerContainer></app-TimePickerModule>
