<div class="container-fluid" (window:keydown)="onKey($event)">
  <div class="row" style="height:70%">
    <div class="col-md-9">
      <div class="box">
        <div class="title">
          EARLY WARNING SYSTEM
        </div>
        <div class="row" style="height:85%;" *ngIf="loaded">
          <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions" 
            [colors]="lineChartColors"
            [legend]="lineChartLegend" 
            [chartType]="lineChartType"             
            (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-md-3 aside">
      <div class="row" style="height:100%">
        <div class="col-md-12">
          <div class="box">
            <div class="title">
              ISSUE LIFE CYCLE
            </div>
            <div class="row" style="height:85%; padding: 15px 0 0 15px;">
              <div class="col-md-12">
                <div class="row" style="height:50%">
                  <div class="col-md-6">
                    <ngx-gauge [type]="gaugeType" 
                              [value]="totalPotential" 
                              [label]="gaugeLabel"  
                              [append]="gaugeAppendText"
                              [size]="100"
                              class="gauge-width">
                    </ngx-gauge>
                  </div>
                  <div class="col-md-6">
                    <ngx-gauge [type]="gaugeType" 
                              [value]="totalEmerging" 
                              [label]="gaugeLabel2"  
                              [append]="gaugeAppendText"
                              [size]="100"
                              class="gauge-width">
                    </ngx-gauge>
                  </div>
                </div>
                <div class="row" style="height:50%">
                  <div class="col-md-6">
                    <ngx-gauge [type]="gaugeType" 
                              [value]="totalCurrent" 
                              [label]="gaugeLabel3"  
                              [append]="gaugeAppendText"
                              [size]="100"
                              class="gauge-width">
                    </ngx-gauge>
                  </div>   
                  <div class="col-md-6">
                    <ngx-gauge [type]="gaugeType" 
                              [value]="totalCrisis" 
                              [label]="gaugeLabel4"  
                              [append]="gaugeAppendText"
                              [size]="100"
                              class="gauge-width">
                    </ngx-gauge>
                  </div> 
                </div>            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="height:30%">
    <div class="col-md-3 footer">
      <div class="box">
        <div class="title">
          SOCIAL MENTION ALERT
        </div>
        <div class="row alert" style="height:85%">
          <div class="col-md-12">
            <a href="#" onclick="return false"><img src="assets/img/icon/alerts@115x100/social-white.png" alt="" style="height:100%;padding: 15px 0 0 0"></a>  
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 footer">
      <div class="box">
        <div class="title">
          KEY INFLUENCER ALERT
        </div>
        <div class="row alert" style="height:85%">
          <div class="col-md-12">
            <a href="#" onclick="return false"><img src="assets/img/icon/alerts@115x100/influencer-white.png" alt="" style="height:100%;padding: 15px 0 0 0"></a>  
          </div>
        </div>
        </div>
    </div>
    <div class="col-md-3 footer">
      <div class="box">
        <div class="title">
          FORMAL MEDIA ALERT
        </div>
        <div class="row alert" style="height:85%">
          <div class="col-md-12">
            <a href="#" onclick="return false"><img src="assets/img/icon/alerts@115x100/media-white.png" alt="" style="height:100%;padding: 15px 0 0 0"></a>  
          </div>
        </div>
      </div>
    </div>    
    <div class="col-md-3 footer">
      <div class="box">
        <div class="title">
          AUTO-GENERATED REPORT
        </div>
        <div class="row alert">
          <div class="col-md-12">
            <a href="#" onclick="return false"><img src="assets/img/icon/alerts@115x100/report-white.png" alt="" style="height:100%;padding: 15px 0 0 0" (click)="reporthandle()"></a>  
          </div>
      </div>
    </div>
  </div>
</div>
<div id='hidenDiv' style="overflow: hidden; height: 0;">
  <div [chart]="mediaVisibilityhidden" id="mediaVisibilityhidden">
    <div [chart]="wordcloud" class="wordcloud"></div>
  </div>
</div>

<!-- <app-TimePickerModule #timePickerContainer></app-TimePickerModule> -->
<app-ArticlesModule #articlesContainer></app-ArticlesModule> 
