<!-- <p>
  medsos-module works!
</p> -->
<!-- <p>
  medsos-module works!
</p> -->


<div bsModal #articlesModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Post</h3>
        <button type="button" class="close" (click)="articlesModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">   
        <div class="container">
          <!-- <div class="container article" *ngIf="articlesList.data?.length > 0" style="overflow-y:scroll;height:400px;overflow-x: hidden;"> -->
            <div class="container article" style="overflow-y:scroll;height:400px;overflow-x: hidden;">
            <div class="col-md-12" *ngFor="let article of medsosList">
              <button class="btn btn-block btn-link" type="button" style="word-wrap:break-word;text-align: justify;"
                (click)="showArticleDetail(article)">
                <h4>{{article.title}}</h4>
              </button>
              <div class="col-md-12" style="text-align:justify;">
                {{article.content | slice:0:150}}
                <p>
                  <small>{{article.source}} / {{article.date | date: 'dd-MMMM-yyyy'}}</small>s
                </p>
              </div>
              <hr>
            </div>
          <!-- </div> -->
          <div *ngIf="medsosList?.length > 0">

            <br>
            <div class="row">
              <div class="col-md-12">
                <pagination [totalItems]="rcordTot" [rotate]="rotate" [maxSize]="pageSize" [(ngModel)]="currentPage"
                  (pageChanged)="pageChanged($event)"></pagination>
              </div>
            </div>
          </div>

          <!-- <div class="infinite-container" style="margin-top: 10%;" *ngIf="articlesList.data?.length == 0">
            <div class="col-md-12">
              <h3 style="text-align:center">No Articles found!</h3>
            </div>
          </div> -->

        </div>                    
      </div>        
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #medsosDetailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg h-100" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h3>Post Detail</h3>
        <button type="button" class="close" (click)="medsosDetailModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">   
        <div class="row">
          <table class="table borderless text-left">            
            <tbody>
              <tr>
                <td class="title-row">Title</td>
                <td class="content-row">: {{titleMedsos}}</td>                
              </tr>
              <tr>
                <td class="title-row">Date</td>
                <td class="content-row">: {{date| date: 'dd-MMMM-yyyy'}}</td>                                     
              </tr>
              <tr>
                <td class="title-row">Media</td>
                <td class="content-row">: {{sourceMedoso}}</td>
              </tr>
              <tr>
                <td class="title-row">URL</td>
                <td class="content-row">: {{urlMedosos}}</td>
              </tr>              
            </tbody>
          </table> 
        </div> 
        <p>Content</p>
        <!-- <div class="video" *ngIf="mediaExtensionModel == 'mp4'">
          <video [src] = "urlFileModel" #videoPlayer controls>
              Your browser does not support HTML5 video.
          </video>
        </div> -->

        <div [innerHTML]="contentMedsos" style="text-align:justify">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- <app-ArticleDetailModule #articleDetailContainer></app-ArticleDetailModule> -->