<div class="container-fluid" (window:keydown)="onKey($event)">
  <div class="row" style="height:33.33%">
    <div class="col-md-4">
      <div class="box">
          <a href="/Panel1" onclick="return false" (click)="handle('/panel1')"><img src="assets/img/panels/panel-1.png" alt="" style="height:100%;padding: 2px 2px 2px 2px"></a>
      </div>
    </div>
    <div class="col-md-4">
        <div class="box">
          <a href="/Panel2" onclick="return false" (click)="handle('/panel2')"><img src="assets/img/panels/panel-2.png" alt="" style="height:100%;padding: 2px 2px 2px 2px"></a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box">
          <a href="/Panel3" onclick="return false" (click)="handle('/panel3')"><img src="assets/img/panels/panel-3.png" alt="" style="height:100%;padding: 2px 2px 2px 2px"></a>
        </div>
    </div>
  </div>
  <div class="row" style="height:33.33%">
    <div class="col-md-4">
      <div class="box">
        <a href="https://tweetdeck.twitter.com/"><img src="assets/img/logo/tweetdeck.png" alt="" style="height:100%;padding: 2px 2px 2px 2px"></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <a href="#" onclick="return false" (click)="handle('/panel9')"><img src="assets/img/panels/panel-9.png" alt="" style="height:100%;padding: 2px 2px 2px 2px"></a>
      </div>
    </div>
    <div class="col-md-4">
        <div class="box">
          <a href="#" onclick="return false" (click)="handle('/panel6')"><img src="assets/img/panels/panel-6.png" alt="" style="height:100%;padding: 2px 2px 2px 2px"></a>
        </div>
    </div>
  </div>
  <div class="row" style="height:33.33%">
    <div class="col-md-4">
      <div class="box">
        <a href="#" onclick="return false" (click)="handle('/panel5')"><img src="assets/img/panels/panel-5.png" alt="" style="height:100%;padding: 2px 2px 2px 2px"></a>
      </div>
    </div>
    <div class="col-md-4">
        <div class="box">
          <a href="#" onclick="return false" (click)="handle('/panel7')"><img src="assets/img/panels/panel-7.png" alt="" style="height:100%;padding: 2px 2px 2px 2px"></a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box">
          <a href="#" onclick="return false" (click)="handle('/panel8')"><img src="assets/img/panels/panel-8.png" alt="" style="height:100%;padding: 2px 2px 2px 2px"></a>
        </div>
    </div>

  </div>
</div>