<div class="container-fluid" (window:keydown)="onKey($event)">
  <div class="row h-100">
    <div class="col-md-8">
      <div class="box">
        <div class="map"
          leaflet
          [leafletOptions]="options"
          [leafletLayersControl]="layersControl"
          [leafletLayers]="geoData">
        </div>
      </div>
    </div>
    <div class="col-md-4">      
      <div class="box" >
        <ng-scrollbar>
          <div *ngIf="!detail">
            <div class="title">
              {{city}} | Total Article : {{total_article}}
            </div>
            <div class="row" style="height:90%;">
              <div class="col-md-12 trending">
                <div *ngFor="let post of trendingList"> 
                  <div class="row posts">
                    <div class='col-md-2' style="padding: 4% 0 4% 0;text-align: center">
                        <i class="fas fa-newspaper" *ngIf="post.page != '1'"></i>
                        <i class="fas fa-globe" *ngIf="post.page == '1'"></i>                    
                    </div>
                    <div class="col-md10 post">  
                      <a href = "#" onclick="return false" (click)="clipHandler(post)">
                          {{post.title}}
                      </a>
                    </div>
                  </div>
                  <hr> 
                </div>
              </div>
            </div>
          </div>
        </ng-scrollbar> 
      </div>         
    </div>
  </div>
</div>
<app-ArticleDetailModule #articleDetailContainer></app-ArticleDetailModule>