.modal-content {
    background-color: #252c27;
    // height: 450px;
}

.row {
    margin: 0 0 0 0;
    text-align: center;
}

.modal-body {
    height: max-content;
}

.borderless td, .borderless th {
    border: none;
}
mark, .mark {
    padding: 0.2em;
    background-color: #b7e709;
}

.title-row {
    width: 5%;
    padding: 1% 0 1% 0;
    text-align: left;
}

.content-row {
    width: 95%;
    padding: 1% 0 1% 1%;
    text-align: left;
}
