<div bsModal #articleDetailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Article Detail</h3>
        <button type="button" class="close" (click)="articleDetailModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">   
        <div class="row">
          <table class="table borderless">            
            <tbody>
              <tr>
                <td class="title-row">Title</td>
                <td class="content-row">: {{titleModel}}</td>                
              </tr>
              <tr>
                <td class="title-row">Date</td>
                <td class="content-row">: {{dateModel| date: 'dd-MMMM-yyyy'}}</td>                                     
              </tr>
              <tr>
                <td class="title-row">Media</td>
                <td class="content-row">: {{mediaModel}}</td>
              </tr>              
            </tbody>
          </table> 
        </div> 
        <p>Content</p>
        <div class="video" *ngIf="mediaExtensionModel == 'mp4'">
          <video [src] = "urlFileModel" #videoPlayer controls>
              Your browser does not support HTML5 video.
          </video>
        </div>
        <div [innerHTML]="contentModel" style="height: 400px;overflow-y: auto; border:1px solid lightgrey; border-radius: 5px;padding: 10px;" class="mt-2">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->