<div class="container-fluid py-4">
  <div class="row" style="height:100%">
    <div class="col-md-12 col-sm-12">
      <div class="box">
        <div class="title">
          <div class="col-12">
            <div class="row justify-content-between">
              <div class="col-6">SOCIAL NETWORK ANALYSIS</div>
              <div class="col-2 text-right">
                <select id="topicnetwork" class="form-control">
                  <option *ngFor='let data of datadropdown'>{{data}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div id="sna"></div>
          <div class="col-12" style=" box-sizing: border-box;">
            <p *ngIf="hovernode" class="text-center">{{contenttooltip}}</p>
          </div>
          <div class="col-12" style=" box-sizing: border-box;">
            <p *ngIf="loading" class="text-center">Load Data SNA ...</p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4 col-sm-12">
      <div class="box">
        <div class="title" >
          TOP INFLUENCER
        </div>
        <div class="row" style="height:95%;">
          <div class="col-12" *ngIf="hovernode">
            <p>{{contenttooltip}}</p>
          </div>
          <ng-scrollbar>
            <div class="col-md-12">

            </div>
          </ng-scrollbar>
        </div>
      </div>
    </div> -->
  </div>
  <div id="hidenDiv" style="overflow: hidden; height: 0;">
    <div [chart]="mediaVisibilityhidden" id="mediaVisibilityhidden">
      <div [chart]="wordcloud" class="wordcloud"></div>
    </div>
  </div>

  <!-- <app-TimePickerModule #timePickerContainer></app-TimePickerModule> -->
  <app-ArticlesModule #articlesContainer></app-ArticlesModule>
</div>
