#sna {
  width: 100%;
  height: 90%;
  min-height: 450px;
  box-sizing: border-box;
  padding: 0 auto;
}

.box {
  border: 1px solid rgba(254, 254, 254, 0.1);
  width: 100%;
  height: 100%;
  // padding: 10px;
  // margin: 5px 0px 5px 0;
  // height: 20%;
}

.col-md-6,
.col-md-9 {
  height: 100%;
  margin: 0.2% 0px 0.3% 0;
  padding: 1% 1% 1% 1%;
}

.aside {
  padding: 0.7% 0.9% 0.9% 0.9%;
}

.col-md-12 {
  height: 100%;
  margin: 0.3% 0px 0.3% 0;
  padding: 1% 1% 1% 1%;
}

.row {
  margin: 0 0 0 0;
  align-self: center;
  align-content: center;
  align-items: center;
}

.title {
  padding: 5px 0 0 10px;
  // height: 7%;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

.col-sm-4 {
  padding: 15px 15px 15px 15px;
}

.time-frame {
  height: 85%;
  padding: 0 0 0 0;
}

.time-fames {
  margin-top: 0;
  padding-top: 0;
}

.footer {
  margin-top: 0;
  padding-top: 0;
}

.wordcloud {
  padding-bottom: 10%;
  // padding-top: 10%;
}

hr {
  display: block;
  height: 8px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1% 10% 0 5%;
  padding: 0;
}

.posts {
  font-size: 11pt;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
