<div bsModal #articlesModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Articles</h3>
          <button type="button" class="close" (click)="articlesModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">   
          <div class="container">
            <div class="container article" *ngIf="articlesList.data?.length > 0" style="overflow-y:scroll;height:400px;overflow-x: hidden;">
              <div class="col-md-12" *ngFor="let article of articlesList.data">
                <button class="btn btn-block btn-link" type="button" style="word-wrap:break-word;text-align: justify;"
                  (click)="showArticleDetail(article)">
                  <h4>{{article.title}}</h4>
                </button>
                <div class="col-md-12" style="text-align:justify;">
                  {{article.content | slice:0:150}}
                  <p>
                    <small>{{article.media_name}} / {{article.datee | date: 'dd-MMMM-yyyy'}}</small>
                  </p>
                </div>
                <hr>
              </div>
            </div>
            <div *ngIf="articlesList.data?.length > 0">
              <!-- <div class="col-md-12" style="text-align:right">
                Total article found : {{articlesList.recordsTotal}}
              </div> -->
              <br>
              <div class="row">
                <div class="col-md-12">
                  <pagination [totalItems]="articlesList.recordsTotal" [rotate]="rotate" [maxSize]="pageSize" [(ngModel)]="currentPage"
                    (pageChanged)="pageChanged($event)"></pagination>
                </div>
              </div>
            </div>
            <div class="infinite-container" style="margin-top: 10%;" *ngIf="articlesList.data?.length == 0">
              <div class="col-md-12">
                <h3 style="text-align:center">No Articles found!</h3>
              </div>
            </div>
          </div>                    
        </div>        
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <app-ArticleDetailModule #articleDetailContainer></app-ArticleDetailModule>
  <app-ArticleDetailModule #articleDetailContainerMaps></app-ArticleDetailModule>
  