<div class="container-fluid" (window:keydown)="onKey($event)">
  <div class="row h-100">
    <div class="col-md-6">
      <div class="box">
        <div class="title">
          WORD CLOUD
        </div>
        <div class="row" style="height:90%;" *ngIf="loaded">
          <div [chart]="wordcloud" class="wordcloud" ></div>
        </div>    
      </div>
    </div>
    <div class="col-md-6">
      <div class="box">
        <div class="title">
          TOP POST
        </div>
        <div class="row" style="height:90%;">
            <ng-scrollbar>
          <div class="col-md-12" >
            <div *ngFor="let post of posts"> 
              <div class="row posts">
                <div class='col-md-2' style="padding: 1% 0 1% 0;text-align: center">
                    <i class="fab fa-facebook-square" *ngIf="post.socmed == 'facebook.com'"></i>
                    <i class="fab fa-twitter-square" *ngIf="post.socmed == 'twitter.com'"></i>                    
                </div>
                <div class="col-md10">  
                  <p style="margin-bottom:0">{{post.title}} | {{post.sentiment}} | {{post.reach}}</p>
                  <p style="margin-bottom:0">{{post.content}}</p>                    
                </div>
              </div>
              <hr> 
            </div>                       
          </div>
        </ng-scrollbar>
        </div>      
      </div>
    </div>
  </div>  
</div>  
  