<div bsModal #timePickerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Period Selection</h3>
        <button type="button" class="close" (click)="timePickerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">        
        <div class="row" style="height:80%">
          <div class="col-md-5">
            <div class="row" style="height:70%">
              <div class="col-md-12">
                  <i class="far fa-calendar-alt fa-8x"></i>
              </div>
            </div>
            <div class="row" style="height:30%">
              <div class="col-md-12">
                <input type="text" class="form-control form-control-sm " #dp="bsDatepicker" bsDatepicker [(bsValue)]="periodFromModel" [bsConfig]="bsConfig" placement="top">
              </div>
            </div>  
          </div>
          <div class="col-md-2">
            <i class="fas fa-window-minimize" style="margin:70% 0 70% 0;"></i>
          </div>
          <div class="col-md-5">
            <div class="row" style="height:70%">
              <div class="col-md-12">
                  <i class="far fa-calendar-alt fa-8x"></i>
              </div>
            </div>
            <div class="row" style="height:30%">
              <div class="col-md-12">
                <input type="text" class="form-control form-control-sm " #dp="bsDatepicker" bsDatepicker [(bsValue)]="periodEndModel" [bsConfig]="bsConfig" placement="top">
              </div>
            </div>  
          </div>  
        </div>
        <div class="row" style="height:10%;">
          <div class="col-md-6" style="text-align: right;">
            <button type="button" class="btn btn-danger" (click)="timePickerModal.hide()">
              Cancel
            </button>
          </div>
          <div class="col-md-6" style="text-align: left;">
            <button type="button" class="btn btn-primary" (click)="submitDate()">
              Submit
            </button>
          </div>  
        </div>
      </div>        
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->