.modal-content {
    background-color: #252c27;
    height: 450px;
}

.row {
    margin: 0 0 0 0;
    text-align: center;
}

.modal-body {
    height: max-content;
}
.col-md-6 {
    text-align: center;
    height: 100%;
}
