<table class="table-sm">
  <tbody>
    <tr *ngFor="let client of groupMediaOption">
      <td>
        <a href = "#" 
          onclick="return false"
          (mouseenter) ="mouseEnter('media-'+client.iter)"  
          (mouseleave) ="mouseLeave('media-'+client.iter)"
          id="media-{{client.iter}}"
          (click)="mediaClick(client)">
          {{client.user_media_type_name_def}}
        </a>                    
      </td>
    </tr>
  </tbody>
</table>
