<div class="container-fluid" (window:keydown)="onKey($event)">
  <div class="row" style="height:33.33%">
    <div class="col-md-3">
      <div class="box">
        <div class="title">
          TOTAL MENTIONS

        </div>
        <div class="row lil-box">
          <div class="row" style="width:100%">
            <h1>{{totalMention}}</h1>
          </div>
          <hr>
          <div class="row" style="width:100%">
            <h4>PER MONTH</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box">
        <div class="title">
          TOTAL REACH

        </div>
        <div class="row lil-box">
          <div class="row" style="width:100%">
            <h1>{{totalReach}}</h1>
          </div>
          <hr>
          <div class="row" style="width:100%">
            <h4>PER MONTH</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box">
        <div class="title">
          AVERAGE COUNT

        </div>
        <div class="row lil-box">
          <div class="row" style="width:100%">
            <h1>{{avCount1}}</h1>
          </div>
          <hr>
          <div class="row" style="width:100%">
            <h4>PER DAY</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box">
        <div class="title">
          AVERAGE COUNT

        </div>
        <div class="row lil-box">
          <div class="row" style="width:100%">
            <h1>{{avCount2}}</h1>
          </div>
          <hr>
          <div class="row" style="width:100%">
            <h4>PER HOUR</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="height:66.67%">
    <div class="col-md-9">
      <div class="box">
        <div class="title">
          TOTAL MENTIONS by Issue

        </div>
        <div class="row lil-box" *ngIf="loaded">
          <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions" 
            [colors]="lineChartColors"
            [legend]="lineChartLegend" 
            [chartType]="lineChartType"             
            (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-md-3 aside">
      <div class="row h-50">
        <div class="col-md-12">
          <div class="box">
            <div class="title">
              BREAKDOWN
            </div>
            <!-- <div class="row lil-box"> -->
              <!-- <div class="col-md-12" *ngIf="loaded"> -->
                <div class="pg-dg">
                  <div class="row">
                    <div class="col-md-2 label-pg">                        
                      <i class="fas fa-rss-square"></i>
                    </div>     
                    <div class="col-md-10 pg-acted">
                      <progressbar [animate]="false" [value]="blog" type="success"><b class="percent-pg">{{blog}}%</b></progressbar>
                    </div>                                      
                  </div>
                  <div class="row">
                    <div class="col-md-2 label-pg">                        
                      <i class="fab fa-facebook-square"></i>
                    </div>     
                    <div class="col-md-10 pg-acted">
                      <progressbar [animate]="false" [value]="facebook" type="success"><b class="percent-pg">{{facebook}}%</b></progressbar>
                    </div>                                      
                  </div>  
                  <div class="row">
                    <div class="col-md-2 label-pg">                        
                      <i class="far fa-comments"></i>
                    </div>     
                    <div class="col-md-10 pg-acted">
                      <progressbar [animate]="false" [value]="forum" type="success"><b class="percent-pg">{{forum}}%</b></progressbar>
                    </div>                                      
                  </div>  
                  <div class="row">
                    <div class="col-md-2 label-pg">                        
                      <i class="fab fa-instagram"></i>
                    </div>     
                    <div class="col-md-10 pg-acted">
                      <progressbar [animate]="false" [value]="instagram" type="success"><b class="percent-pg">{{instagram}}%</b></progressbar>
                    </div>                                      
                  </div>
                  <div class="row">
                    <div class="col-md-2 label-pg">                        
                        <i class="far fa-comments"></i>
                    </div>     
                    <div class="col-md-10 pg-acted">
                      <progressbar [animate]="false" [value]="video" type="success"><b class="percent-pg">{{video}}%</b></progressbar>
                    </div>                                      
                  </div>    
                  <div class="row">
                    <div class="col-md-2 label-pg">                        
                        <i class="fab fa-twitter-square"></i>
                    </div>     
                    <div class="col-md-10 pg-acted">
                      <progressbar [animate]="false" [value]="twitter" type="success"><b class="percent-pg">{{twitter}}%</b></progressbar>
                    </div>                                      
                  </div>    
                </div>  
              <!-- </div>   -->
            <!-- </div> -->
          </div>
        </div>
      </div>
      <div class="row h-50">
        <div class="col-md-12">
          <div class="box">
            <div class="box" style="text-align:center">
              <div style="height:25%">
                <b>INTEGRATED MEDIA INTELLIGENCE DASHBOARD</b>
              </div>
              <div style="height:55%">
                <img src="{{logo}}" style="width:90%;padding: 15px 0 0 0">
              </div>
              <!-- <div style="height:10%">
                Powered By
              </div>
              <div style="height:30%">
                <img src="assets/img/logo/pi.png" style="height:100%;padding: 10px 10px 0 10px;">
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-medsos-module #medsosContainer></app-medsos-module>