.box {
  border: 1px solid rgba(254, 254, 254, 0.1);
  width: 100%;
  height: 100%;
  // padding: 10px;
  // margin: 5px 0px 5px 0;
  // height: 20%;
}

.col-md-3,
.col-md-9,
.col-md-4,
.col-md-2 {
  height: 100%;
  margin: 0.2% 0px 0.3% 0;
  padding: 1% 1% 1% 1%;
}

.aside {
  padding: 0.7% 0.9% 0.9% 0.9%;
}

.col-md-12 {
  height: 100%;
  margin: 0.3% 0px 0.3% 0;
  padding: 1% 1% 1% 1%;
}

.row {
  margin: 0 0 0 0;
}

.title {
  padding: 5px 0 0 10px;
  height: 15%;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

.col-sm-4 {
  padding: 15px 15px 15px 15px;
}

.time-frame {
  height: 42.5%;
  padding: 0 0 0 0;
  text-align: center;
}

.time-fames {
  margin-top: 0;
  padding-top: 0;
}

.footer {
  margin-top: 0;
  padding-top: 0;
}
