<div class="container-fluid" (window:keydown)="onKey($event)">
  <iframe src="https://tweetdeck.twitter.com/" style="height:100%;width:100%"></iframe>
  <!-- <object data="https://tweetdeck.twitter.com/"></object> -->
</div>
