/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap"; 

html, body {
    background-image: url("src/assets/img/backgrounds/default@3840x2160.jpg");
    background-size: cover;
    color: whitesmoke;
    height: 100%;
}
.container-fluid {
    height: 100%;
    overflow: hidden; /* don't show content that exceeds my height */
}

