<div class="container-fluid" (window:keydown)="onKey($event)">
    <div class="row" style="height:66.67%">
      <div class="col-md-9">
        <div class="box">
          <div class="title">
            HISTORICAL SENTIMENT
          </div>
          <div class="row" style="height:85%;" *ngIf="loaded">
            <canvas baseChart 
              [datasets]="lineChartData" 
              [labels]="lineChartLabels" 
              [options]="lineChartOptions" 
              [colors]="lineChartColors"
              [legend]="lineChartLegend" 
              [chartType]="lineChartType"             
              (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
      </div>
      <div class="col-md-3 aside">
        <div class="row h-50">
          <div class="col-md-12">
            <div class="box">
              <div class="title">
                  TOP ISSUES <b style="color:#5E7B3F;">POSITIVE</b>
              </div>
              <div class="row" style="height:85%; padding: 0 1% 0 2%;">
                <div class="col-md-12" *ngIf="loaded">
                  <div class="pg-dg" *ngFor="let pgBar of positiveBar.data">
                    <div class="row">
                      <div class="col-md-12 label-pg">                        
                        {{pgBar.key}}
                      </div>     
                      <div class="col-md-12 pg-acted">
                        <progressbar [animate]="false" [value]="pgBar.percent" type="success"><b class="percent-pg">{{pgBar.percent}}% / {{pgBar.value}}</b></progressbar>
                      </div>                                      
                    </div>
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row h-50">
          <div class="col-md-12">
            <div class="box">
              <div class="title">
                TOP ISSUES <b style="color:#199FC8;">NEUTRAL</b>
              </div>
              <div class="row" style="height:85%; padding: 0 1% 0 2%;">
                <div class="col-md-12" *ngIf="loaded">
                  <div class="pg-dg" *ngFor="let pgBar of neutralBar.data">
                    <div class="row">
                      <div class="col-md-12 label-pg">                        
                        {{pgBar.key}}
                      </div>     
                      <div class="col-md-12 pg-acted">
                        <progressbar [animate]="false" [value]="pgBar.percent"><b class="percent-pg">{{pgBar.percent}}% / {{pgBar.value}}</b></progressbar>
                      </div>                                      
                    </div>
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="height:33.33%">
      <div class="col-md-9 time-fames">
        <div class="box">
          <div class="row" *ngIf="loaded" style="height:100%">
              <div class="col-md-4" *ngFor="let data of pieChartData" style="text-align:center">
                <canvas baseChart 
                  [data]="data.data" 
                  [labels]="data.label" 
                  [colors]="data.color"                
                  [options]="pieChartOptions" 
                  [chartType]="pieChartType">
                </canvas>
                <!-- <p class="label-pie">{{data.data[0]}}</p> -->
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 footer">
        <div class="box">
          <div class="title">
            TOP ISSUES <b style="color:#A0121B;">NEGATIVE</b>
          </div>
          <div class="row" style="height:85%; padding: 0 1% 0 2%;">
            <div class="col-md-12" *ngIf="loaded">
              <div class="pg-dg" *ngFor="let pgBar of negativeBar.data">
                <div class="row">
                  <div class="col-md-12 label-pg">                        
                    {{pgBar.key}}
                  </div>     
                  <div class="col-md-12 pg-acted">
                    <progressbar [animate]="false" [value]="pgBar.percent" type="danger"><b class="percent-pg">{{pgBar.percent}}% / {{pgBar.value}}</b></progressbar>
                  </div>                                      
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <app-medsos-module #medsosContainer></app-medsos-module>