<div class="container-fluid">
  <div class="row" style="height:100%">
    <div class="col-md-12">
      <div class="box">
        <div class="title">
          GEOSPATIAL
        </div>
        <div class="row" style="height:98%;">
          <div [chart]="mapChart" id="geospatial" style="margin-top: 10%;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-ArticlesModule #articlesContainer></app-ArticlesModule>